$Orange: #ff883c;
$Blue: #2d61a1;
$Accent: #ed252b;

//Mixins

@mixin menuCard {
	border: 3px double $Orange;
	display: flex;
	flex-direction: column;
	align-items: center;
}

//Media Query Mixins
@mixin mediaSm {
	@media screen and (max-width: 500px) {
		@content;
	}
}

@mixin mediaMd {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin mediaLg {
	@media screen and (min-width: 769px) and (max-width: 1171px) {
		@content;
	}
}

@mixin mediaXl {
	@media screen and (min-width: 1172px) and (max-width: 1300px) {
		@content;
	}
}

@mixin mediaLandSm {
	@media screen and (orientation: landscape) and (max-width: 650px) {
		@content;
	}
}

@mixin mediaLandMd {
	@media screen and (orientation: landscape) and (max-width: 850px) {
		@content;
	}
}

@mixin mediaLandLg {
	@media screen and (orientation: landscape) and (max-width: 1024px) {
		@content;
	}
}
