@import "_config";

.info {
	height: 75vh;
	background-color: $Blue;
	display: flex;
	justify-content: space-around;
	color: white;
	margin-top: 100px;

	&__map {
		display: flex;
		align-items: center;
	}

	&__hours {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	&__address {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	h3 {
		font-size: 24px;
	}
}

.mapwrapper {
	position: relative;
	width: 450px;
	height: 450px;
	border-radius: 50%;
	overflow: hidden;
	margin: 50px auto 50px auto;
}
