@import "_config";

.info {
	height: 65vh;
	background-color: $Blue;
	display: flex;
	justify-content: space-around;
	color: white;
	margin-top: 250px;
	line-height: 3.2em;

	&__map {
		display: flex;
		align-items: center;
	}

	&__hours {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	&__address {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;

		img {
			height: 80px;
			width: 80px;
			margin-left: 25px;
		}
	}

	h3 {
		font-size: 2rem;
	}
}

.mapwrapper {
	position: relative;
	width: 350px;
	height: 350px;
	border-radius: 50%;
	overflow: hidden;
	margin: 50px auto 50px auto;
	border: solid black;
}
