@import "_config";

.menu {
	color: $Blue;
	font-size: 1.3rem;
	line-height: 2.5;
	font-family: caslon, Georgia, "Times New Roman", Times, serif;
	position: relative;
	margin-top: 100px;

	&__heading {
		text-align: center;
		font-size: 5rem;
		padding: 20px;
		margin: 0;
	}
	&__items {
		display: grid;
		grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: ". app . . . " ". app . tbl ." ". din . tbl ." ". din . dish ." ". drink . dish ."
			". drink . des ." ". . . des .";
		grid-row-gap: 100px;
	}

	&__app {
		@include menuCard;
		grid-area: app;
	}

	&__tb {
		@include menuCard;
		grid-area: tbl;
	}

	&__dinners {
		@include menuCard;
		grid-area: din;
	}

	&__dish {
		@include menuCard;
		grid-area: dish;
	}

	&__dessert {
		@include menuCard;
		grid-area: des;
	}

	&__drinks {
		@include menuCard;
		grid-area: drink;
	}

	h2 {
		font-size: 2rem;
	}
}
