@import "_config";

@include mediaLg {
	.title {
		&__name {
			margin-block-start: 0;
			margin-block-end: 0;
		}
	}

	.about {
		&__restaurant {
			display: none;
		}
		&__desc {
			width: 95%;
		}

		&__greeting {
			height: 60vh;
		}
	}
	.menu {
		font-size: 1rem;
	}

	.mapwrapper {
		width: 350px;
		height: 350px;
	}

	.info {
		height: 50vh;
	}
}

@include mediaMd {
	* {
		margin-block-start: 0;
		margin-block-end: 0;
	}

	.title {
		text-align: center;
		&__name {
			margin: 0;
			font-size: 3rem;
		}
	}
	.nav__btn {
		display: block;
	}
	nav {
		display: none;
	}

	.about {
		&__restaurant {
			display: none;
		}
		&__desc {
			width: 100%;
		}
		&__greeting {
			height: 55vh;
			margin: 40px;
		}
	}
	.tagline {
		margin-top: 0px;
		text-align: center;
		&__heading {
			font-size: 2rem;
			padding: 4px;
		}
	}

	#images {
		flex-direction: column;
		height: 100vh;
	}

	#image1 {
		width: 100%;
		height: 50vh;
	}
	#image2 {
		width: 100%;
		height: 50vh;
	}
	.menu {
		margin-top: 0;
		&__items {
			display: flex;
			flex-direction: column;
			margin-bottom: 200px;
		}
		&__heading {
			padding: 0;
			font-size: 7rem;
		}
	}
	.info {
		flex-direction: column;
		height: auto;
		margin-top: -200px;
		padding: 50px 0;
		line-height: 1.8em;

		&__map {
			display: none;
		}
		&__address {
			padding-bottom: 30px;
		}

		img {
			display: none;
		}
	}
	.footer {
		padding: 20px;

		&--wrapper {
			flex-direction: column;
			p {
				display: none;
			}
		}
	}
}

@include mediaSm {
	.title {
		&__name {
			font-size: 2rem;
		}
	}
	.menu {
		&__heading {
			font-size: 6rem;
		}
	}

	.info__address {
		margin: 0px;
	}
}

@include mediaLandLg {
	.mapwrapper {
		width: 280px;
		height: 280px;
	}
}

@include mediaLandMd {
	.tagline__heading {
		font-size: 1.5rem;
	}
	.mapwrapper {
		width: 240px;
		height: 240px;
	}
	#images {
		height: 200vh;
	}
	#image1 {
		height: 100vh;
	}
	#image2 {
		height: 100vh;
	}
}
@mixin mediaLandSm {
	.mapwrapper {
		width: 200px;
		height: 200px;
	}
}
