@import "config";

header {
	top: 0;
	position: fixed;
	width: 100%;
}

nav ul {
	display: flex;
	justify-content: center;
	background-color: lighten($Orange, 15%);
	height: 80px;
	align-items: center;
}

nav li {
	flex-direction: row;
	list-style: none;
	padding: 0 5vw;
	font-size: 1.5rem;

	a {
		text-decoration: none;
		color: darken($Blue, 20%);

		&:hover {
			text-decoration: underline;
		}
	}
}
