@import "config";

header {
	position: fixed;
	z-index: 999;
	width: 100%;
	top: 0;
	font-weight: 1000;
	background-color: $Orange;
}
nav ul {
	display: flex;
	justify-content: center;
	height: 50px;
	align-items: center;
}

nav li {
	flex-direction: row;
	list-style: none;
	padding: 0 5vw;
	font-size: 1.5rem;

	a {
		text-decoration: none;
		color: darken($Blue, 20%);

		&:hover {
			text-decoration: underline;
		}
	}
}

.logo {
	border-style: double;
	font-size: 24px;
	font-weight: bolder;
	text-transform: uppercase;
}
