@import "config";
@import "_nav";
@import "_about";
@import "_menu";

html {
	scroll-behavior: smooth;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: lighten($Orange, 20%);
}

.title {
	background-image: url(../src/images/taiana-martinez-tai-s-captures-1430583-unsplash.jpg);
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: darken($Blue, 35%);

	&__name {
		margin-left: 20px;
		font-weight: 800;
		font-size: 3rem;
	}
}
