@import "config";
@import "_nav";

body {
	color: red;
}

.carousel {
	width: 80%;
	margin: auto;
	position: relative;
	overflow: hidden;

	&__slides {
		display: flex;
		height: 500px;

		img {
			width: 100%;
		}
	}
}

.prev {
	position: absolute;
	top: 50%;
	z-index: 10;
	left: 5%;
	cursor: pointer;
}

.next {
	position: absolute;
	top: 50%;
	z-index: 10;
	right: 5%;
	cursor: pointer;
}

.carousel__slide {
	display: none;

	&--current {
		display: block;
	}
}
